[submodule "bonds_and_battles"]
	path = bonds_and_battles
	url = git@bitbucket.org:jrnold/bonds_and_battles.git
[submodule "acw_onset_markets"]
	path = acw_onset_markets
	url = git@github.com:jrnold/acw_onset_markets.git
[submodule "bib"]
	path = bib
	url = git@github.com:jrnold/bib.git
[submodule "dlm-shrinkage"]
	path = dlm-shrinkage
	url = git@github.com:jrnold/dlm-shrinkage.git
